<div style="position: relative;display: flex;" class="parent">
  <h1 class="heading">PING-PONG SPRINT</h1>
  <div *ngIf="!browserdet" class="">
    <img class="img" src="{{imageQR}}" alt="">
  </div>
  <!-- <h4 class="roomID" style="z-index: 9999;color:white;margin-top: 100px;">Room ID : {{roomId}}</h4> -->
  <video id="vid" [autoplay]="true" [loop]="true" src="../../../assets/video.mp4"></video>
  <!-- For camera -->
  <div *ngIf="browserdet" class="roomIDs">
    <!-- For camera -->
    <ngx-scanner-qrcode #action="scanner"></ngx-scanner-qrcode>
    <!-- data  -->
    <p class="data">{{ action.data | async }}</p>
    <!-- Loading -->
    <p *ngIf="action.isLoading">⌛ Loading...</p>
    <!-- start -->
    <br>
    <div>
      <button id="scanner" (click)="action.start()">{{action.isStart ? 'Stop' : 'Start'}}</button>
    </div>
  </div>
</div>
